<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Monthly Maintenance</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group me-2">
        <div class="input-group">
          <label for="exampleSelect" class="input-group-text">Select Month</label>
          <select class="form-select" id="exampleSelect">
            <option *ngFor="let month of monthNames;index as i;">{{month}}</option>
            
          </select>
        </div>
        <div class="input-group">
          <label for="exampleSelect" class="input-group-text">Select Year</label>
          <select class="form-select" id="exampleSelect">
            <option *ngFor="let year of years;index as i;">{{year}}</option>
            
          </select>
          </div>
        
      </div>
    
    </div>
  </div>
  <div class="table-responsive small">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Flat No</th>
          <th scope="col">Name</th>
          <th scope="col">Maintenance Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let member of members;">
          <td>{{member.flatNo}}</td>
          <td>{{member.name}}</td>
          <td style="color:green" *ngIf="member.isPaid">Paid</td>
           <td style="color:red" *ngIf="!member.isPaid">Not Paid</td>
        </tr>
       
      </tbody>
    </table>
  </div>

  

  <div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
    <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (light)">
      <i class="bi fa fa-pencil" width="1em" height="1em"></i>
      <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
      <li>
        <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="light" aria-pressed="true" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">
          Add
        </button>
      </li>
      <li>
        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
          Edit
        </button>
      </li>
     
    </ul>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Monthly Maintenance</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <div class="input-group">
                <label for="memname" class="input-group-text">Select Member</label>
                <select class="form-select" name="memName" [(ngModel)]="selectedMember" id="memname">
                  <option *ngFor="let member of membersNotPaid;index as i;" [ngValue]="member">{{member.name}}</option>
                </select>
              </div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
            
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" (click)="createMaintenance()" class="btn btn-primary">Paid</button>
        </div>
      </div>
    </div>
  </div>

  
